body {
    font-family: "Inter", serif;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #000;
}

.container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
    margin: 0 auto;
}


.section {
    padding-top: 175px;
    padding-bottom: 175px;
}

.accent-color {
    color: #2C7250;
}

.accent-color-backdrop {
    color: #006333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

.main-page {
    border-bottom: 3px solid #2c7250;
    ;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #2c7250;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    width: 815px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #2e363e;
    padding-top: 56px;
    padding-bottom: 56px;
}

.menu-link:hover,
.menu-link:focus {
    color: #2c7250;
}

.contact {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.52;
    text-align: right;
    color: #2c7250;
    padding-top: 47px;
    padding-bottom: 47px;
}



/****************** HERO */

.hero {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-contaier {
    display: flex;
    gap: 12px;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #2e363e;
    margin-bottom: 25px;
}

.hero-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.6;
    letter-spacing: -0.01em;
    color: #434b53;
    max-width: 434px;
    margin-bottom: 25px;
}

.hero-btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.01em;
    color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    background: #2c7250;
    border: none;
    min-width: 337px;
    height: 70px;
    transition: background-color 250ms linear;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #006333;
}

/******** BENEFITS  */

.benefits {
    background-color: #FAFAFA;
}



.benefits-title {
    margin-bottom: 60px;
}

.benefits-list {
    display: flex;
    gap: 53px;
}

.benefits-list-item {
    width: calc((100% - 106px) / 3);
}

.benefits-img {
    margin: 0 auto;
    margin-bottom: 11px;
}

.benefits-subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.43;
    text-align: center;
    color: #000;
    margin-bottom: 4px;
}

.benefits-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

/*************** ABOUT  */
.about-contaier {
    display: flex;
    gap: 12px;
    align-items: center;
    gap: 94px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;

}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #2e363e;
    margin-bottom: 20px;
    width: 376px;
}

.about-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.01em;
    color: #434b53;
    margin-bottom: 28px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-item-text-one {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2e363e;
    width: 145px;
}

.about-item-text-two {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2e363e;
    width: 167px;
}

.about span {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33;
    color: #2c7250;
}

/*********REVIEWS  */

.reviews {
    background-color: #FAFAFA;
}

.reviews-text::before {
    display: block;
    content: '';
    border: 2px solid #2c7250;
    width: 143px;
    height: 0px;
    margin-right: 19px;
}

.reviews-text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #000;
    margin-bottom: 19px;

}


.reviews-text span {
    color: #2c7250;
}

.reviews-title {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.255;
    letter-spacing: 0.03em;
    text-align: start;
    color: #000;
    width: 378px;
    margin-bottom: 102px;
}

.reviews-list {
    display: flex;
    flex-direction: row;
    gap: 35px;

}

.reviews-title span {
    color: #2c7250;
}

.reviews-item {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: calc((100% - 70px) / 3);
    height: 198px;

}

.reviews-wrapper-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 99px;
    height: 99px;
    background-color: #2c7250;
    position: absolute;
    left: 133px;
    top: -41px;
}

.reviews-subtitle {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000;
    margin-top: 69px;
    margin-bottom: 19px;
}

.reviews-desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: center;

    width: 329px;
    color: #696969;
    margin: 0 auto;
}

/****** TARRIFS  */

.tarrifs-list {
    display: flex;
    gap: 19px;
}

.tarrifs-list-item {
    border-radius: 10px;
    width: 376px;
    height: 500px;
    width: calc((100% - 40px) / 3);
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 20px 35px 35px;
}

.tarrifs-img {
    margin: 0 auto 47px;
}

.tarrifs-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper-tarrifs-desc {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    width: 307px;
    margin: 0 auto 52px;
}

.tarrifs-subtitle {
    font-weight: 700;
    font-size: 27px;
    line-height: 1.1;
    color: #2e363e;
}

.tarrifs-text {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    color: #434b53;
}

.tarrifs-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e363e;
}

.tarrifs-descr span {
    font-weight: 600;
    font-size: 18px;
}

.tarrifs-btn {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    color: #2c7250;
    border: transparent;
    background-color: transparent;
    text-decoration: underline;
    margin-left: auto;
}

/*************** CONTACTS  */

.contact-section {
    background-color: #FAFAFA;
}

.contacts-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    color: #2e363e;
    margin: 0 auto 26px;
    width: 707px;

}

.contacts-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.43;
    letter-spacing: -0.01em;
    text-align: center;
    color: #2e363e;
    margin-bottom: 50px;
}


.input-button-wrapper {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 32px;
}

.form-input {
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    padding: 25px 30px;
    width: 280px;
    height: 70px;
    background: #fff;
    outline: 0px solid transparent;
    color: #bfbfbf;
    transition: all 250ms linear;
}

.form-input:focus {
    border: 1px solid #2c7250;
}

.form-input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    color: #bfbfbf;
}

.contacts-btn {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 25px 41px;
    background: #2c7250;
    min-width: 280px;
    height: 70px;
    border: transparent;
    transition: background-color 250ms linear;
}

.contacts-btn:hover,
.contacts-btn:focus {
    background-color: #006333;
}

.policy-checkbox-label {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.3;
    color: #7e868e;
    text-align: center;

}

.policy-own-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 2px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-right: 5px;
}

.policy-original-checkbox:checked+.policy-checkbox-label>.policy-own-custom-checkbox {
    background-color: #2c7250;
}

.policy-original-checkbox:checked+.policy-checkbox-label .policy-own-checkbox-icon {
    opacity: 1;
}

.policy-original-checkbox:focus+.policy-checkbox-label>.policy-own-custom-checkbox {
    border: 1px solid #2c7250;
}

.policy-own-checkbox-icon {
    stroke: #fff;
    opacity: 0;
}

.policy-original-checkbox:checked+.policy-checkbox-label .policy-own-checkbox-icon {
    opacity: 1;
}


/************** FOOTER  *************/

.footer-section {
    background-color: #2C7250;
    padding-top: 91px;
    padding-bottom: 85px;
}

.footer-container {
    display: flex;

}

.footer-logo {
    font-family: "Reem Kufi", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    margin-right: 288px;
}

.footer-list {
    display: flex;
    column-gap: 50px;
    margin-right: 194px;
}

.footer-phone {

    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    text-align: right;
    color: #fff;
}

/************** FOOTER  *************/
/************** BACKDROP  *************/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgb(0, 0, 0, 0.56);
}

/************** BACKDROP  *************/
/************** MODAL WINDOW SYTLE  *************/

.modal {
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 650px;
    min-height: 854px;
    padding: 75px 50px 75px;
}

.modal-form-close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #006333;
    border: none;
    cursor: pointer;
}

.modal-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #000;
    margin-bottom: 19px;
}

.modal-title::before {
    display: block;
    content: '';
    border: 2px solid #d8d8d8;
    width: 143px;
    height: 2px;
    margin-right: 12px;
}

.modal-subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.255;
    letter-spacing: 0.03em;
    color: #000;
    margin-bottom: 31px;
}

.modal-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #006333;
    margin-bottom: 23px;
}

.modal-form-label {
    display: block;
    margin-bottom: 23px;
}

.modal-form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: justify;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    outline: 0px solid transparent;
    padding-left: 21px;
    transition: all 250ms linear;
}

.modal-form-input:focus {
    border: 1px solid #2c7250;
}

.modal-form-input::placeholder {
    color: #000;
}

.form-textarea-comment {
    width: 100%;
    resize: none;
    padding: 22px 21px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    height: 149px;
    background-color: transparent;
    margin-bottom: 33px;
    outline: 0px solid transparent;
    color: #bfbfbf;
    transition: all 250ms linear;
}

.form-textarea-comment::placeholder {
    color: #000;
}

.form-textarea-comment:focus {
    border: 1px solid #2c7250;
}

.form-send-btn {

    min-width: 181px;
    height: 48px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    border: none;
    outline: 0px solid transparent;
    background-color: #2c7250;
    transition: background-color 250ms linear;
}

.form-send-btn:hover,
.form-send-btn:focus {
    background-color: #006333;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

/************** MODAL WINDOW SYTLE  *************/