body {
    font-family: "Inter", serif;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #000;
    margin-bottom: 45px;
}

.container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
    margin: 0 auto;
}


.section {
    padding-top: 175px;
    padding-bottom: 175px;
}

.accent-color {
    color: #2C7250;
}

.accent-color-backdrop {
    color: #006333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

.main-page {
    border-bottom: 3px solid #2c7250;
    ;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #2c7250;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    width: 815px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #2e363e;
    padding-top: 56px;
    padding-bottom: 56px;
}

.menu-link:hover,
.menu-link:focus {
    color: #2c7250;
}

.contact {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.52;
    text-align: right;
    color: #2c7250;
    padding-top: 47px;
    padding-bottom: 47px;
}

/****************** HEADER ****************/

/****************** TARRIFS  *************/

.tarrifs-list {
    display: flex;
    flex-direction: column;
    row-gap: 41px;
}

.tarrifs-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding: 80px 36px 80px 40px;
    width: 1170px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.05);
    background: #fafafa;
}

.tarrifs-img {
    object-fit: cover;
}

.wrapper-tarrifs-desc {
    width: 672px;
}

.tarrifs-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 13px;
}

.tarrifs-subtitle {
    font-weight: 700;
    font-size: 27px;
    line-height: 1.1;
    color: #2e363e;
}

.tarrifs-text {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    color: #434b53;
}

.tarrifs-descroption {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #2e363e;
    margin-bottom: 13px;
}

.tarrifs-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #2e363e;
    margin-bottom: 15px;
}

.accent-tarrifs {
    font-weight: 600;
    font-size: 18px;
}

.tarrifs-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #2e363e;
    margin-bottom: 15px;
}

.tarrifs-btn {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    color: #2c7250;
    border: transparent;
    background-color: transparent;
    margin-left: auto;
}

.tarrifs-btn::after {
    position: absolute;
    bottom: -4px;
    right: 2px;
    content: '';
    display: block;
    border: 1px solid #2c7250;
    width: 129px;


}



/****************** TARRIFS  *************/

/****************** FOOTER  *************/

.footer-section {
    background-color: #2C7250;
    padding-top: 91px;
    padding-bottom: 85px;
}

.footer-container {
    display: flex;

}

.footer-logo {
    font-family: "Reem Kufi", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    margin-right: 288px;
}

.footer-list {
    display: flex;
    column-gap: 50px;
    margin-right: 194px;
}

.footer-phone {

    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    text-align: right;
    color: #fff;
}

/****************** FOOTER  *************/